
<div>
<table class="table table-hover">
    <thead>
        <th>STT</th>
        <th>NAME</th>
        <th>AGE</th>
        <th>EMAIL</th>
        <th>AVATAR</th>
        <th>PHONE</th>
        <th>ACTION</th>
    </thead>
    <tbody>
        <tr *ngFor = "let user of users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.age}}</td>
        <td>{{user.email}}</td>
        <td>{{user.avatar}}</td>
        <td>{{user.phone}}</td>
        <td> <button class="btn btn-primary"> xóa </button>
            <td> <button class="btn btn-primary">sửa </button></td>
       
        
    </tr>
    </tbody>
</table>
</div>